<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheet/Albums.css" >
  <link rel="stylesheet" href="/stylesheet/Main.css">
  <link rel="stylesheet" href="/stylesheet/Header.css" >
  <title>Albums</title>
</head>
<body>
  <header>
    <div class="navbar">
      <p><a href="/home">Home, home again</a></p>
      <p><a href="/history">History</a></p>
      <p><a href="/albums">Albums</a></p>
    </div>  
  </header> 
  <main>
    <div class="parent">
      <div class="div1">
        <img src="https://upload.wikimedia.org/wikipedia/pt/f/fd/Pink_Floyd_-_The_Piper_at_the_Gates_of_Dawn.jpg">
        <h3>The Piper at the Gates of Dawn</h3>
        <p>1967-08</p>
      </div>
      <div class="div2">
        <img src="https://upload.wikimedia.org/wikipedia/pt/0/03/Pink_Floyd_-_A_Saucerful_of_Secrets.jpg">
        <h3>A Saucerful of Secrets</h3>
        <p>1968-06</p>
      </div>
      <div class="div3">
        <img src="https://upload.wikimedia.org/wikipedia/en/4/40/MoreCover.jpg">
        <h3>Soundtrack From The Film “More”</h3>
        <p>1969-06</p>
      </div>
      <div class="div4">
        <img src="https://upload.wikimedia.org/wikipedia/pt/1/15/Pink_Floyd_-_Ummagumma.jpg">
        <h3>Ummagumma</h3>
        <p>1969-11</p>
      </div>
      <div class="div5">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/74/TheBestofthePinkFloyd.jpg">
        <h3>The Best of
        </h3>
        <p>1970-07</p>
      </div>
      <div class="div6">
        <img src="https://images-americanas.b2w.io/produtos/01/00/item/125852/9/125852987_1GG.jpg">
        <h3>Atom Heart Mother
        </h3>
        <p>1970-10</p> 
      </div>
      <div class="div7">
        <img src="https://1.bp.blogspot.com/-TsI3Cm7BlCw/WvmdU8A4hgI/AAAAAAAAWw0/YiCpGZe22oU30X6GMksFfIGRBoVJhha_wCLcBGAs/s1600/R-368569-1197549912.jpeg.jpg">
        <h3>Relics
        </h3>
        <p>1971-05</p>   
      </div>
      <div class="div8">
        <img src="https://upload.wikimedia.org/wikipedia/pt/0/0e/Pink_Floyd_-_Meddle.jpg">
        <h3>Meddle
        </h3>
        <p>1971-10</p>    
      </div>
      <div class="div9">
        <img src="https://upload.wikimedia.org/wikipedia/pt/3/37/Pink_Floyd_-_1972_-_Obscured_by_Clouds.jpg">
        <h3>Obscured by Clouds
        </h3>
        <p>1972-06</p> 
      </div>
      <div class="div10">
        <img src="https://upload.wikimedia.org/wikipedia/pt/3/3b/Dark_Side_of_the_Moon.png">
        <h3>The Dark Side of the Moon
        </h3>
        <p>1973-03</p> 
      </div>
      <div class="div11">
        <img src="https://upload.wikimedia.org/wikipedia/pt/3/36/Pink_Floyd_-_A_Nice_Pair.jpg">
        <h3>A Nice Pair
        </h3>
        <p>1973-12</p> 
      </div>
      <div class="div12">
        <img src="https://m.media-amazon.com/images/I/810CGm6+GbL._AC_SL1500_.jpg">
        <h3>Wish You Were Here
        </h3>
        <p>1975-09</p> 
      </div>
      <div class="div13">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Pink_Floyd-Animals-Frontal.jpg">
        <h3>Animals 
        </h3>
        <p>1977-01</p> 
      </div>
      <div class="div14">
        <img src="https://pinkfloydhyperbase.dk/illu/covers/first11.jpg">
        <h3>The First XI 
        </h3>
        <p>1979-07</p> 
      </div>
      <div class="div15">
        <img src="https://i.scdn.co/image/ab67616d0000b2735d48e2f56d691f9a4e4b0bdf">
        <h3>The Wall
        </h3>
        <p>1979-11</p> 
      </div>
      <div class="div16">
        <img src="https://m.media-amazon.com/images/I/813ateYaEZL._AC_SL1400_.jpg">
        <h3>A Collection of Great Dance Songs
        </h3>
        <p>1981-11</p> 
      </div>
      <div class="div17">
        <img src="https://upload.wikimedia.org/wikipedia/pt/f/f7/Pink_Floyd_-_The_Final_Cut.jpg">
        <h3>The Final Cut
        </h3>
        <p>1983-03</p> 
      </div>
      <div class="div18">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/08/PinkFloyd-album-works-233.jpg">
        <h3>Works 
        </h3>
        <p>1983-06</p> 
      </div>
      <div class="div19">
        <img src="https://upload.wikimedia.org/wikipedia/pt/3/3c/Pink_Floyd_-_A_Momentary_Lapse_of_Reason.jpg">
        <h3>A Momentary Lapse of Reason
        </h3>
        <p>1987-09</p> 
      </div>
      <div class="div20">
        <img src="https://upload.wikimedia.org/wikipedia/en/6/6b/Dsothunder-250.jpg">
        <h3>Delicate Sound of Thunder
        </h3>
        <p>1988-11</p> 
      </div>
      <div class="div21">
        <img src="https://i.discogs.com/ZQMtbAnnBAExlCPcZWVlSmgRAqqpr3wv4eGp1i0_wi0/rs:fit/g:sm/q:90/h:600/w:505/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTgwNTQz/Ni0xNDAxNjQyOTAx/LTE1OTMuanBlZw.jpeg">
        <h3>Shine On
        </h3>
        <p>1992-11</p> 
      </div>
      <div class="div22">
        <img src="https://i.scdn.co/image/ab67616d0000b2738431fb4cb38f8ee96d3434c0">
        <h3>The Division Bell
        </h3>
        <p>1994-03</p> 
      </div>
      <div class="div23">
        <img src="https://m.media-amazon.com/images/I/81tFLJciUdL._AC_SL1500_.jpg">
        <h3>Pulse
        </h3>
        <p>1995-05</p> 
      </div>
      <div class="div24">
        <img src="https://upload.wikimedia.org/wikipedia/en/9/9e/1967_Singles_Sampler.jpg">
        <h3>1967: The First Three Singles
        </h3>
        <p>1997-12</p>
      </div>
    </div>

    <div class="banner">
      <p>Listen here for more songs 🠗</p>
      <iframe  width="200" height="150" src="https://www.youtube.com/embed/cWGE9Gi0bB0?list=PL4pGkk3QBW28n6QCBWcmE76Ro7ONEzlMG" title="Pink Floyd - Shine On You Crazy Diamond [Official Music Video]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </main>
</body>
</html>