<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheet/History.css" >
  <link rel="stylesheet" href="/stylesheet/Main.css">
  <link rel="stylesheet" href="/stylesheet/Header.css" >
  <title>History</title>
</head>
<body>
  <header>
    <div class="navbar">
      <p><a href="/home">Home, home again</a></p>
      <p><a href="/history">History</a></p>
      <p><a href="/albums">Albums</a></p>
    </div>  
  </header> 
  <main>
    <h1>History</h1>
    <iframe class="history" src="https://en.wikipedia.org/wiki/Pink_Floyd" title="Pink Floyd">
    </iframe>
  </main>
</body>
</html>