<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheet/Home.css" >
  <link rel="stylesheet" href="/stylesheet/Main.css" >
  <link rel="stylesheet" href="/stylesheet/Header.css" >
  <title>Home, home again</title>
</head>
<body>
  <header>
      <div class="navbar">
        <p><a href="/home">Home, home again</a></p>
        <p><a href="/history">History</a></p>
        <p><a href="/albums">Albums</a></p>
      </div>
  </header>
  <main>
    <section class="home">
      <div class="audio-div">
        <img class="polygon" src="/images/the-dark-side-of-the-moon-2.jpg">
        <audio controls class="audio">
          <source src="/songs/X2Download.app - Pink Floyd - Time (2011 Remastered).mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
      <div class="text">
        <h1>Time</h1>
        <p>For sure Time is one of my favorite Pink Floyd songs,<br> but I could say this about countless other songs.<br>
          This is a page dedicated to a band that not only sings songs,<br> but writes lyrics that impact lives.<br>
          I get chills every time I hear Hey You,<br> the melody of Pigs or On The Turning Away,<br> in fact, all Pink Floyd songs give me some feeling,<br> but only Time reminds me that I'm getting old,<br> that's why she's so special .</p>
      </div>
    </section>
    <div class="banner">
      <p>Listen here for more songs 🠗</p>
      <iframe  width="200" height="150" src="https://www.youtube.com/embed/cWGE9Gi0bB0?list=PL4pGkk3QBW28n6QCBWcmE76Ro7ONEzlMG" title="Pink Floyd - Shine On You Crazy Diamond [Official Music Video]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
  </main>
</body>
</html>